meta-dbus-xrandr.[ch]
meta-dbus-idle-monitor.[ch]
display-config-daemon
config.log
config.status
.deps
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
libtool
ltmain.sh
missing
*~
*.o
*.a
*.lo
*.la
.libs
m4/*
*.make
*.service
